/* *** ROOT *** */
:root {
    --txtWhite: #dfe6e9;
    --txtBlack: #2d3436;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* *** HEADER *** */

.header {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    background-color: #fff;
    text-align: center;
    z-index: 10;
}

.header p {
    font-size: 1.2rem;
    float: left;
    margin-top: 22px;
    margin-left: 50px;
}

.header img {
    height: 80px;
    width: 120px;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 350px;
    margin-top: 80px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: #FFF;
    text-align: center;
    font-size: 1.2rem;
}
.sidebarMenuInner {
    margin:0;
    padding:0;
}
.sidebarMenuInner li {
    list-style: none;
    color: var(--txtBlack);
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}
.sidebarMenuInner li a {
    color: var(--txtBlack);
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 30px;
    left: 20px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--txtBlack);
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 6px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 6px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* ***  *** */