/****************/
/* *** ROOT *** */
/****************/
:root {
    --txtWhite: #ecf0f1;
    --txtBlack: #2d3436;
    --colorOrange: #BE8B39;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

/******************/
/* *** LOADER *** */
/****************/

.loader {
    margin: 0 auto;
    margin-top: 50vh;
    width: 20%;
    height: 2px;
    background-color: var(--txtBlack);
    animation: line 1s ease-in-out infinite alternate;
}

@keyframes line {
    0% {
        transform: scaleX(0.1);
    }
    100% {
        transform: scaleX(2.0);
    }
}

/*******************************/
/* *** HEADER NAVBAR ASIDE *** */
/*******************************/

.carousel-item {
    max-height: 100vh;
}

.carousel-item img {
    margin-top: 80px;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 1px 1px 4px 0px rgba(150,150,150,1);
}

.nav-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    max-width: 110px;
}

.nav-button a {
    background: none;
    color: var(--colorOrange);
    text-decoration: none;
    border: 1px solid var(--colorOrange);
    margin-bottom: 2px;
    transition: all .4s;
}

.nav-button a:hover {
    color: var(--txtWhite);
    border-color: var(--txtWhite);
    background-color: var(--colorOrange);
}

.nav-button input {
    font-size: .9rem;
    text-align: center;
    border: 1px solid var(--txtBlack);
}

.nav-button input:focus {
    outline: none;
}

.header p {
    font-size: 1.2rem;
    margin-left: 50px;
    margin-top: 10px;
}

.header img {
    max-height: 65px;
    max-width: 120px;
}


#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 350px;
    margin-top: 80px;
    padding-top: 80px;
    transform: translateX(-350px);
    transition: transform 250ms ease-in-out;
    background: #FFF;
    text-align: center;
    font-size: 1.2rem;
    z-index: 9;
}

.none {
    display: none;
}

.sidebarMenuInner {
    margin:0;
    padding:0;
}

.sidebarMenuInner li {
    position: relative;
    list-style: none;
    color: var(--txtBlack);
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}

.sidebarMenuInner li:first-child a::after {
    content: '';
    position: absolute;
    top: -9px;
    left: 100px;
    height: 50px;
    width: 40%;
    background-image: url(./icon/brush.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
}

.sidebarMenuInner li a {
    color: var(--txtBlack);
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.sidebarMenuInner li span {
    display: block;
    font-size: .8rem;
    text-align: left;
    margin-left: 80px;
}

.sidebarMenuInner li span a {
    color: rgba(0, 0, 0, 0.6);
    text-transform: none;
}

.sidebarMenuInner .none a:hover {
    text-decoration: underline;
}

.wrapper-icon-menu {
    margin-top: 50px;
}

.wrapper-icon-menu img {
    height: 15px;
    width: 15px;
}

.wrapper-icon-menu a {
    text-decoration: none;
    color: var(--txtBlack);
    font-size: .9rem;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 30px;
    left: 20px;
    height: 22px;
    width: 22px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--txtBlack);
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 6px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 6px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/********************/
/* *** TITRE H1 *** */

.title {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    z-index: 8;
}

.title h1 {
    color: var(--txtWhite);
    font-size: 2.5rem;
    font-family: 'Pinyon';
    letter-spacing: 10px;
}

/*******************************************/
/* GENERAL POUR : */
/* *** NOS CHAMBRES / RESTAURANT / SPA *** */
/*******************************************/

.presentation {
    text-align: center;
    margin-top: 80px;
}

.titre {
    font-family: 'Pinyon';
    color: var(--colorOrange);
    font-size: 3.5rem;
    letter-spacing: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.presentation p {
    color: var(--txtBlack);
    margin-top: 50px;
}

.presentation span {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.boutton-link {
    text-align: center;
    margin-top: 30px;
}

.boutton-link a {
    background: none;
    border: 1px solid var(--colorOrange);
    padding: 8px;
    margin-top: 10px;
    transition: all .4s;
    color: var(--colorOrange);
    text-decoration: none;
}

.boutton-link a:hover {
    border-color: var(--txtWhite);
    background-color: var(--colorOrange);
    color: var(--txtWhite);
}

.wrapper-img {
    margin: 60px;
}

.wrapper-img img {
    width: 100%;
    margin-top: 20px;
}

.wrapper-img div h3 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-family: 'Pinyon';
    color: var(--colorOrange);
    font-size: 2.5rem;
    letter-spacing: 2px;
    background-color: rgba(255, 255,255, .7);
    border-radius: 3px;
    padding: 5px;
}

.wrapper-img a {
    text-decoration: none;
}

.blur {
    transition: all .4s;
}

.blur:hover {
    transform: scale(1.1);
}

/******************/
/* *** FOOTER *** */
/******************/

footer {
    background-color: #f1f2f6;
    margin-top: 100px;
    padding: 20px;
}

.newsletter {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.newsletter p {
    padding: 20px;
    color: var(--txtBlack);
    font-size: .8rem;
    font-weight: bold;
}

.newsletter input {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    background: none;
    border: none;
    font-size: .9rem;
    border-bottom: 1px solid var(--txtBlack);
}

.newsletter input:focus {
    outline: none;
}

.newsletter button {
    color: var(--txtBlack);
    font-size: .9rem;
    border: none;
    border-bottom: 1px solid var(--colorOrange);
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    outline: none;
}

.newsletter button:hover {
    font-weight: bold;
}

.links {
    text-align: center;
    margin-top: 15px;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links ul li a:hover {
    font-weight: bold;
}

.links ul li a {
    text-decoration: none;
    color: var(--txtBlack);
    font-size: .9rem;
}

.contact {
    color: var(--txtBlack);
    margin-top: 15px;
}

.contact h4 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: .8rem;
    margin: 0;
}

.contact a {
    display: block;
    text-decoration: none;
    color: var(--txtBlack);
    margin-top: 5px;
    font-size: .7rem;
    font-weight: bold;
}

.contact a:hover {
    text-decoration: underline;
}

.reseau img {
    height: 30px;
    width: 30px;
    margin: 5px;
    opacity: .7;
    transition: all .4s;
}

.reseau img:hover {
    background-color: var(--colorOrange);
    border-radius: 50%;
}

.copy {
    text-align: center;
    color: var(--txtBlack);
    margin-top: 20px;
}

.copy p {
    margin: 0;
    font-size: .7rem;
    font-weight: 500;
}

/************************/
/* *** CHAMBRE.HTML *** */
/* *** ICON PARTAGE *** */
/************************/

.partager {
    margin-top: 40px;
}

.partager a {
    text-decoration: none;
    color: var(--txtBlack);
}

.partager img {
    height: 20px;
    width: 20px;
    opacity: .7;
    margin-left: 5px;
}

.icon-partage {
    background-image: url(./icon/brush2.svg);
    background-position: center center;
    background-size: 25%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all .4s;
}

.icon-partage img {
    height: 30px;
    width: 30px;
    margin: 10px;
}

/* *** CHAMBRE CLASSIQUE *** */

#classique {
    margin-top: 80px;
}

.photo-chambre {
    margin-top: 50px;
}

.photo-chambre img {
    max-height: 350px;
    position: relative;
    z-index: 1;
}

.cadre {
    position: relative;
}

.cadre::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -30px;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-width: 1px;
    border-style: solid;
    border-color: var(--colorOrange);
}

.description {
    margin-top: 30px;
    font-size: .9rem;
    max-width: 360px;
    color: var(--txtBlack);
}

.description .boutton-link {
    margin-top: 30px;
}

hr {
    margin: 60px 0;
    background-color: var(--colorOrange);
}

.details {
    color: var(--txtBlack);
}

.details div {
    margin-top: 30px;
}

.details li,
.details p {
    font-size: .9rem;
}

.details ul,
.details p {
    margin-top: 30px;
}

.details li {
    margin: 20px 0;
}

.prix {
    font-weight: bold;
}

.icon-list {
    list-style: none;
}

.icon-list img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    opacity: .7;
}

/* *** CONFORT *** */

#confort {
    margin-top: 80px;
}

.titre-chambre {
    margin-bottom: 80px;
}

#confort .cadre::before {
    left: auto;
    right: -30px;
}

/* *** DELUXE *** */

#deluxe {
    margin-top: 80px;
}

/* *** SUITE *** */ 

#suite {
    margin-top: 80px;
    margin-bottom: 80px;
}

#suite .cadre::before {
    left: auto;
    right: -30px;
}

/***************************/
/* *** RESTAURANT.HTML *** */
/***************************/

.main-restaurant {
    background: top 295px right 0px url(./img/oranges.jpg) no-repeat, top 1240px left 0px url(./img/spices.jpg) no-repeat;;
}

.resto-presentation {
    margin-top: 100px;
}

.paragraphe-restaurant {
    color: var(--txtBlack);
    font-size: .9rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

#brasserie {
    margin-top: 100px;
}

#brasserie .cadre::before {
    left: auto;
    right: -30px;
}

.photo-restaurant {
    margin-top: 50px;
}

.photo-restaurant img {
    max-height: 350px;
    position: relative;
    z-index: 1;
}

.description-restaurant {
    font-size: .9rem;
    max-width: 500px;
    color: var(--txtBlack);
    margin-bottom: 50px;
}

.description-restaurant p {
    padding: 50px 20px 0px 20px;
}

#degustation {
    margin-top: 100px;
}

#resto {
    margin-top: 100px;
}

#resto .cadre::before {
    left: auto;
    right: -30px;
}

.carte-pdf a {
    color: var(--txtBlack);
    text-decoration: none;
    font-weight: bold;
}

.carte-pdf a:hover {
    text-decoration: underline;
}

.carte-pdf a::after {
    content: '';
    display: inline-block;
    width: 5px;
    height: 9px;
    margin-left: 0.7em;
    background: url(./icon/small-right.png) center center no-repeat;
    transition: transform .3s;
}

.carte-pdf a:hover::after {
    transform: translateX(5px);
}

/*************************/
/*** SPA & Bien-être *** */
/*************************/

.spa-presentation {
    margin-top: 100px;
}

#detente {
    margin-top: 100px;
}

#detente .cadre::before {
    left: auto;
    right: -30px;
}

#decouverte {
    margin-top: 100px;
}

#relaxant {
    margin-top: 100px;
}

#relaxant .cadre::before {
    left: auto;
    right: -30px;
}

#plaisir {
    margin-top: 100px;
}

#evasion {
    margin-top: 100px;
}

#evasion .cadre::before {
    left: auto;
    right: -30px;
}

/*****************/
/* *** HOTEL *** */
/*****************/

.bg-header {
    position: relative;
    margin-top: 80px;
}

.bg-header img {
    display: block;
    max-height: 100vh;
    width: 100%;
}

.boutton-form button {
    background: none;
    border: 1px solid var(--colorOrange);
    padding: 8px;
    margin-top: 10px;
    transition: all .4s;
    color: var(--colorOrange);
}

.boutton-form button:hover {
    border-color: var(--txtWhite);
    background-color: var(--colorOrange);
    color: var(--txtWhite);
}

#hotel-page {
    margin-top: 100px;
}

/******************************/
/* *** FORMULAIRE CONTACT *** */
/******************************/

#contact-page {
    margin-top: 100px;
    background-image: url(./icon/Polygon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#contact-page input {
    margin-top: 20px;
    color: var(--txtBlack);
    border: none;
    border-bottom: 1px solid var(--txtBlack);
    font-size: .9rem;
    padding: 5px;
    width: 90%;
    transition: all .4s;
    outline: none;
}

#contact-page .form-groupe {
    margin-bottom: 20px;
}

#contact-page input:focus {
    border: 1px solid var(--colorOrange);
}

#contact-page textarea {
    margin-top: 20px;
    color: var(--txtBlack);
    font-size: .9rem;
    width: 60%;
    padding: 5px;
    transition: all .4s;
    outline: none;
}

#contact-page textarea:focus {
    border: 1px solid var(--colorOrange);
}

#inputSelect {
    margin-top: 20px;
    color: #959BA3;
    border: none;
    font-size: .9rem;
    border-bottom: 1px solid var(--txtBlack);
    width: 90%;
    padding: 6px;
    transition: all .4s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.select {
    position: relative;
}

.select::after {
    content: '';
    position: absolute;
    top: 60%;
    right: 30px;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-top-color: #444;
    border-width: 6px;
    border-style: solid;
}

.champs {
    font-size: .7rem;
    color: var(--txtBlack);
}

.error {
    font-size: .9rem;
    color: #e74c3c;
}

#btnContact {
    color: var(--txtBlack);
    margin-top: 50px;
}

#btnContact:hover {
    color: var(--txtWhite);
}

/* *** MAP *** */

#map {
    margin-top: 100px;
}

.carte {
    margin-top: 50px;
}

/**********************************/
/* *** FORMULAIRE RECRUTEMENT *** */
/**********************************/

#recrutement-page {
    margin-top: 100px;
    background-image: url(./icon/Polygon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#recrutement-page input {
    margin-top: 20px;
    color: var(--txtBlack);
    border: none;
    border-bottom: 1px solid var(--txtBlack);
    font-size: .9rem;
    padding: 5px;
    width: 90%;
    transition: all .4s;
    outline: none;
}

#cv,
#lettre {
    margin-top: 0px!important;
}

#recrutement-page label {
    margin-top: 20px;
    font-size: .9rem;
}

#recrutement-page .form-groupe {
    margin-bottom: 20px;
}

#recrutement-page input:focus {
    border: 1px solid var(--colorOrange);
    outline: none;
}

#recrutement-page textarea {
    margin-top: 20px;
    color: var(--txtBlack);
    font-size: .9rem;
    width: 60%;
    padding: 5px;
    transition: all .4s;
    outline: none;
}

#recrutement-page textarea:focus {
    border: 1px solid var(--colorOrange);
    outline: none;
}

#btnContactRecrut {
    color: var(--txtBlack);
    margin-top: 50px;
    outline: none;
}

#btnContactRecrut:hover {
    color: var(--txtWhite);
}

/****************************/
/* *** PAGE RESERVATION *** */
/****************************/

.wrapper {
    margin-top: 100px;
    box-shadow: 1px 1px 4px 0px rgba(150,150,150,1);
}

.img-reservation img {
    width: 250px;
    height: 650px;
    border-radius: 3px;
}

.form-reservation input {
    margin-top: 20px;
    color: var(--txtBlack);
    border: none;
    border-bottom: 1px solid var(--txtBlack);
    font-size: .9rem;
    padding: 5px;
    width: 70%;
    transition: all .4s;
    outline: none;
}

.form-reservation input:focus {
    border: 1px solid var(--colorOrange);
    outline: none;
}

.form-reservation label {
    font-size: .9rem;
    color: #959BA3;
}

#dateArrive,
#dateDepart {
    margin-top: 0;
}

.form-reservation select {
    margin-top: 20px;
    color: #959BA3;
    border: none;
    font-size: .9rem;
    border-bottom: 1px solid var(--txtBlack);
    width: 80%;
    padding: 6px;
    transition: all .4s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

.form-reservation .titre {
    padding-bottom: 50px;
}

.form-reservation .champs {
    padding-top: 20px;
}

.form-reservation #btnContact {
    margin-top: 0;
    margin-bottom: 20px;
    outline: none;
}

.form-reservation .titre {
    font-size: 2.5rem;
}

/*********************/
/* *** BLOG.HTML *** */
/*********************/

#actualite {
    margin-top: 100px;
}

.wrapper-card {
    margin-top: 50px;
}

.card {
    box-shadow: 1px 1px 4px 0px rgba(150,150,150,1);
}

.card-item {
    margin-top: 20px;
}

.card-title {
    color: var(--txtBlack);
    margin: 20px 0;
}

.card-text {
    color: var(--txtBlack);
    font-size: .9rem;
    margin: 40px 0;
}

#evenement {
    margin-top: 100px;
}

.evenement-item {
    margin-top: 100px;
}

#evenement iframe {
    box-shadow: 1px 1px 4px 0px rgba(150,150,150,1);
}

#presse {
    margin-top: 100px;
}

#avis {
    margin-top: 100px;
}

.onglet {
    margin-top: 70px;
}

.onglet a {
    color: var(--txtBlack);
    font-weight: bold;
}

.onglet .first {
    margin-top: 40px;
}

.wrapper-commentaire {
    font-size: .9rem;
    color: var(--txtBlack);
    margin-top: 10px;
}

.wrapper-commentaire .pseudo {
    margin: 0 10px 0 20px;
    width: 80px;
}

.wrapper-commentaire .etoile {
    color: var(--colorOrange);
    width: 80px;
}

.wrapper-commentaire .commentaire {
    width: 500px;
    font-size: .850rem;
}

.form-avis {
    margin-top: 50px;
}

.form-avis input {
    margin-top: 20px;
    border: none;
    font-size: .9rem;
    border-bottom: 1px solid var(--txtBlack);
    padding: 6px;
    transition: all .4s;
    outline: none;
}

.form-avis textarea {
    margin-top: 30px;
    width: 50%;
    padding: 6px;
    transition: all .4s;
}

.form-avis input:focus {
    border: 1px solid var(--colorOrange);
    outline: none;
}

.form-avis textarea:focus {
    border: 1px solid var(--colorOrange);
    outline: none;
}

#inputSelectCategorie {
    margin-top: 20px;
    color: #959BA3;
    border: none;
    font-size: .9rem;
    border-bottom: 1px solid var(--txtBlack);
    width: 90%;
    padding: 6px;
    transition: all .4s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

/*****************************/
/* *** LIENS DIVERS.HTML *** */
/*****************************/

#mentions {
    margin-top: 100px;
}

.divers {
    color: var(--txtBlack);
}

.divers h5 {
    margin-top: 40px;
}

.divers p {
    font-size: .8rem;
    margin-top: 20px;
}

#conditions {
    margin-top: 100px;
}

#plan {
    margin-top: 100px;
}

/*****************************/
/* *** PLAN DU SITE.HTML *** */
/*****************************/

.plan h2 {
    color: var(--txtBlack);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.plan ul {
    margin-bottom: 40px;
}

.plan a {
    color: #008CBA;
    font-size: .9rem;
}

/***********************/
/* *** PANIER.HTML *** */
/***********************/

#panier {
    margin-top: 100px;
}

.panier-page {
    max-width: 690px;
    height: 500px;
    background-image: url(./img/classique.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 4px 0px rgba(150,150,150,1);
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 50px;
    padding: 0;
}

.detail {
    display: block;
    width: 100%;
    height: 100px;
    color: var(--txtBlack);
    background-color: #cccccca2;
}

.detail p {
    padding-top: 7px;
    margin: 0;
}

.panier-detail {
    max-width: 690px;
    margin-top: 100px;
    padding: 20px;
    background-color: #F1F2F6;
    box-shadow: 1px 1px 4px 0px rgba(150,150,150,1);
    color: var(--txtBlack);
}

.panier-detail p {
    padding: 10px;
}

.price {
    position: relative;
}

.price p {
    font-size: 3rem;
    font-family: 'Pynion';
    font-weight: bold;
    color: var(--colorOrange);
    margin-top: 50px;
    margin-bottom: 0px;
}

.price span {
    position: absolute;
    top: 55px;
    right: 40%;
    font-size: .7rem;
    font-weight: bold;
}

.check {
    margin-top: 100px;
    color: var(--txtBlack);
}

.check input {
    display: inline;
}

.check label {
    font-size: .8rem;
    margin-bottom: 50px;
}

.btn-check {
    background: none;
    border: 1px solid var(--colorOrange);
    padding: 8px;
    margin-top: 10px;
    transition: all .4s;
    color: var(--colorOrange);
    text-decoration: none;
}

.btn-check:focus {
    outline: none;
}

.btn-check:hover {
    border-color: var(--txtWhite);
    background-color: var(--colorOrange);
    color: var(--txtWhite);
}

/* *** MEDIA QUERY *** */

@media only screen and (min-width: 576px) {

    .title h1 {
        font-size: 5rem;
    }

    .wrapper-reseau {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 576px) {

    /* NavBar */
    .header p {
        font-size: 1.1rem;
    }

    .header img {
        max-width: 110px;
    }

    .nav-button a {
        font-size: .9rem;
    }

    .nav-button input {
        font-size: .8rem;
    }

    /* H3 sur les img de chaque section */
    .wrapper-img div h3 {
        font-size: 1.5rem;
    }

    /* Cadre orange des photos chambre, restaurant et hotel */
    .cadre img {
        max-height: 250px;
    }

    .cadre::before {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    /* Img left du formulaire de reservation.html */
    .img-reservation {
        display: none;
    }
}

@media only screen and (max-width: 960px) {

    /* Polygone Background Form contact et recrutement */
    #contact-page {
        background-image: none;
    }

    #recrutement-page {
        background-image: none;
    }
}

@media only screen and (min-width: 960px) {

    .presentation {
        margin-top: 120px;
    }    

    .presentation p {
        margin-top: 100px;
    }
}


/* *** Media print pour impression de la page *** */
@media print {
    header {display: none;}
    footer {display:none;}
    img {display: none;}
    section {page-break-inside: unset;}
    section {page-break-after: always;}
}